// Typography
$font-family: 'Rubik', sans-serif;

// Headers
$header-color: #454545;
$header-weight: 500;

// General Text Content
$text-color: #666666;


// Top-bar
$topbar-background-color: #545454;
$topbar-text-color: white;
$topbar-text-opacity: 0.8;
